
{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <style>
        .form {
            margin-top: 20px;
            margin-bottom: 20px;
            max-width: 700px;
            width: 95%;
            box-sizing: border-box;
            background-color: white;
            outline: 1px solid transparent;
            padding: 20px;
            border-radius: 5px 5px 5px 5px;
            box-shadow: inset 0 0.75rem 2rem darkgrey;
            /*box-shadow: inset 0 0.75rem 2rem rgba(229, 225, 187, 0.5);*/
        }
    </style>
        <h1 class="text-center fw-bolder fs-2">CREATE YOUR ACCOUNT</h1>
    <div class="form container ">
        <div class="text-center mb-5">
            <p>already have an account?</p><a href="{{ path('app_login') }}" class="btn btn-outline-primary" role="button">Log in !</a>
        </div>
        {{ form_start(registrationForm) }}
        <div class="container">
            <div class="mb-3">
                {{ form_row(registrationForm.lastName) }}
            </div>

            <div class="mb-3">
                {{ form_row(registrationForm.firstName) }}
            </div>

            <div class="mb-3">
                {{ form_row(registrationForm.email) }}
            </div>

            <div class="mb-3">
                {{ form_row(registrationForm.phoneNumber) }}
            </div>

            <div class="mb-3">
                {{ form_row(registrationForm.address) }}
            </div>

            <div class="mb-3">
                {{ form_row(registrationForm.country) }}
            </div>

            <div class="mb-3">
                {{ form_row(registrationForm.password) }}
            </div>

            
            <div class="mb-3">
                {{ form_row(registrationForm.agreeTerms) }}
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-8 my-3 d-flex">
                <button type ="submit" class="mb-4 col btn btn-primary">{{ button_label|default('Sign in') }}</button>
            </div>
        </div>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}

